/* BASIC STYLES HERE */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}





.color{
    background: linear-gradient(to bottom, #030303, #032ff3);
    -webkit-text-fill-color: transparent;
    background-clip: unset;
    -webkit-background-clip: text;
    font-size: 300%;
}

.time{
    position: relative;
}

#time{
    text-shadow: 0 0 55px #000000;
    font-size: 4.5rem;
}
#med{
    position: relative;

    right: 0px;
}


/* .day{
    display: flex;
    justify-content: space-between;
} */

.day span{
    font-size: 0.9rem;
    opacity: 0.4;
    font-weight: 600;
}

.mystyle {
  width: 100%;
  padding: 25px;
  background-color: coral;
  color: white;
  font-size: 150%;
  box-sizing: border-box;
}

.todoCARD {
    background-color: rgba(97, 96, 96, 0.5);
}

.completedBG {
background-color: rgba(63, 243, 9, 0.418); 
color: ghostwhite;
}

.uncompletedBG {
    background-color: rgba(233, 14, 14, 0.445);
    color: ghostwhite;
}

.weatherIcon {
    min-width: 5rem
}